<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="{{ page.meta_keywords }}" />
        <meta name="description" content="{{ page.meta_description }}" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/napodhvate/css/skel-noscript.css" />
        <link rel="stylesheet" href="/css/napodhvate/css/style.css" />
        <link rel="stylesheet" href="/css/napodhvate/css/style-desktop.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/napodhvate/css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/napodhvate/css/ie/v9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
		<div id="header">
			<div class="container">
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="/">{{ site.name }}</a></h1>
				</div>
			</div>
		</div>
		<!-- Header -->

		<!-- Banner -->
		<div id="banner">
			<div class="container">


			</div>
		</div>
		<!-- /Banner -->
		
		<!-- Main -->
		<div id="main">
			<!-- Welcome -->		
			<div id="welcome" class="container">
				<div class="row">
					<div id="sidebar" class="3u">
						<section>
                        <ul style="list-style: none;">
                   {% for item in menu %}

                        <li
                            {% if slug == '' %}
                                {% if item.page.index %}
                                style="font-weight: bold;"
                                {% endif %}
                            {% else %}
                                {% if slug == item.page.slug %}
                                style="font-weight: bold;"
                                {% endif %}
                            {% endif %}

                        >
                            {% if item.page.index %}
                            <a href="/">{{ item.name }}</a>
                            {% else %}
                            <a href="/page/{{ item.page.slug }}/">{{ item.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                        </ul>
						</section>
					</div>
					
					<div id="content" class="9u skel-cell-important">
						<section>
{{ page.text | safe }}
                        </section>
					</div>
					
				</div>
			</div>
			<!-- /Welcome -->
			
		</div>
		<!-- /Main -->		
		
		<!-- Footer -->
		<div id="footer">
		<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				<p>&copy; Ruslan. Created by Vanichka.</p>
			</div>
		</div>
    </div>
{{ page.counters_js | safe }}
	</body>
</html>