<!DOCTYPE html>
<html lang="ru">
<head>
<meta name="keywords" content="{{ page.meta_keywords }}" />
<meta name="description" content="{{ page.meta_description }}" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<link href="/css/vashi-zakroma/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="/">{{ site.name }}</a></h1>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">&nbsp;</div>
	<!-- end #menu -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
                        {{ page.text | safe }}
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
                            <ul>
                   {% for item in menu %}

                        <li
                            {% if slug == '' %}
                                {% if item.page.index %}
                                style="font-weight: bold;"
                                {% endif %}
                            {% else %}
                                {% if slug == item.page.slug %}
                                style="font-weight: bold;"
                                {% endif %}
                            {% endif %}

                        >
                            {% if item.page.index %}
                            <a href="/">{{ item.name }}</a>
                            {% else %}
                            <a href="/page/{{ item.page.slug }}/">{{ item.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}

                            </ul>
						</li>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>&copy; Ruslan. Created by Vanichka.</p>
</div>
<!-- end #footer -->
{{ page.counters_js | safe }}
</body>
</html>
