<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
</head>
<body>
    <h1>Multi #1</h1>
    <ul>
        {% for item in menu %}
            <li><a href="/page/{{ item.page.slug }}/">{{ item.page.name }}</a></li>
        {% endfor %}
    </ul>
    <div>{{ page.text | safe}}</div>

</body>
</html>