<!DOCTYPE html>
<html lang="ru">
<head>
<meta name="keywords" content="{{ page.meta_keywords }}" />
<meta name="description" content="{{ page.meta_description }}" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css' />
<link href="/css/banketdoma/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper" class="container">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="/">{{ site.name }}</a></h1>
			</div>
		</div>
		<div><img src="/images/banketdoma/img03.png" width="1000" height="40" alt="" /></div>
	</div>
	<!-- end #header -->
	<div id="banner">
		<div class="content"><img src="/images/banketdoma/img04.jpg" width="980" height="270" alt="" /></div>
		<div><img src="/images/banketdoma/img03.png" width="1000" height="40" alt="" /></div>
	</div>
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title">{{ page.name }}</h2>
				<div style="clear: both;">&nbsp;</div>
				<div class="entry">
                    {{ page.text | safe }}
				</div>
			</div>
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<ul>
                    {% for item in menu %}

                        <li
                            {% if slug == '' %}
                                {% if item.page.index %}
                                style="font-weight: bold;"
                                {% endif %}
                            {% else %}
                                {% if slug == item.page.slug %}
                                style="font-weight: bold;"
                                {% endif %}
                            {% endif %}

                        >
                            {% if item.page.index %}
                            <a href="/">{{ item.name }}</a>
                            {% else %}
                            <a href="/page/{{ item.page.slug }}/">{{ item.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<div class="container"><img src="/images/banketdoma/img03.png" width="1000" height="40" alt="" /></div>
	<!-- end #page --> 
</div>
<div id="footer-content"></div>
<div id="footer">
<p>&copy; Ruslan. Created by Vanichka.</p>
</div>
<!-- end #footer -->

{{ page.counters_js | safe }}
</body>
</html>
