<!DOCTYPE html>
<html lang="ru">
<head>
<meta name="keywords" content="{{ page.meta_keywords }}" />
<meta name="description" content="{{ page.meta_description }}" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
<link href="/css/vashshefpovar/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="/">{{ site.name }}</a></h1>
			</div>
			<div id="menu">
				<ul>
                    {% for item in menu %}

                        <li
                            {% if slug == '' %}
                                {% if item.page.index %}
                                class="current_page_item"
                                {% endif %}
                            {% else %}
                                {% if slug == item.page.slug %}
                                class="current_page_item"
                                {% endif %}
                            {% endif %}

                        >
                            {% if item.page.index %}
                            <a href="/">{{ item.name }}</a>
                            {% else %}
                            <a href="/page/{{ item.page.slug }}/">{{ item.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
				</ul>
			</div>
		</div>

	</div>

	<!-- end #header -->
	<div id="page">
		<div id="content">
			<div class="post">
                {{ page.text | safe }}
			</div>
		</div>
		<!-- end #content -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page --> 
</div>
<div id="footer">
	<p>&copy; Ruslan. Created by Vanichka.</p>
</div>
<!-- end #footer -->
{{ page.counters_js | safe }}
</body>
</html>
