<!DOCTYPE html>
<html lang="ru">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta name="keywords" content="{{ page.meta_keywords }}" />
<meta name="description" content="{{ page.meta_description }}" />
<link href="/css/dospeshnya/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="/">{{ site.name }}</a></h1>
		</div>
		<!-- end div#logo -->
	</div>
	<!-- end div#header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="content">
				<div class="post">
                    {{ page.text | safe }}
				</div>
			</div>
			<!-- end div#content -->
			<div id="sidebar">
				<ul>
					<li>
						<ul>
                    {% for item in menu %}

                        <li
                            {% if slug == '' %}
                                {% if item.page.index %}
                                style="font-weight: bold;"
                                {% endif %}
                            {% else %}
                                {% if slug == item.page.slug %}
                                style="font-weight: bold;"
                                {% endif %}
                            {% endif %}

                        >
                            {% if item.page.index %}
                            <a href="/">{{ item.name }}</a>
                            {% else %}
                            <a href="/page/{{ item.page.slug }}/">{{ item.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
						</ul>
					</li>
				</ul>
			</div>
			<!-- end div#sidebar -->
			<div style="clear: both; height: 1px"></div>
		</div>
	</div>
	<!-- end div#page -->
</div>
<!-- end div#wrapper -->
	<div id="footer">
        <p>&copy; Ruslan. Created by Vanichka.</p>
    </div>
	<!-- end div#footer -->
{{ page.counters_js | safe }}
</body>
</html>
